<div class="m-md-5 m-2">
  <div class="d-flex align-items-center justify-content-start">
    <mat-icon
      style="
        font-size: 36px;
        width: 36px;
        height: 36px;
        cursor: pointer;
        color: rgba(0, 102, 167, 1);
      "
      class="ms-3"
      (click)="goBack()"
      >arrow_back</mat-icon
    >
    <span
      style="font-size: 30px; font-weight: 500; color: rgba(0, 102, 167, 1)"
      class="ms-2"
      >Campaign Create</span
    >
  </div>
  <mat-tab-group class="w-75 m-4" [(selectedIndex)]="selectedTabIndex">
    <mat-tab label="Basic Details">
      <form [formGroup]="createCampaignForm" class="me-2 ms-2">
        <mat-form-field appearance="outline" class="full-width mt-4">
          <mat-label>Campaign Title</mat-label>
          <input matInput formControlName="title" />
          <mat-error
            *ngIf="createCampaignForm.get('title')?.hasError('required')"
            class="m-0 p-0"
          >
            Title is required.
          </mat-error>
          <mat-error
            *ngIf="createCampaignForm.get('title')?.hasError('notNull')"
            class="m-0 p-0"
          >
            Title is required.
          </mat-error>
          <mat-error
            *ngIf="createCampaignForm.get('title')?.hasError('maxlength')"
            class="m-0 p-0"
          >
            Maximum length is 50 characters.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Total Reward Budget</mat-label>
          <input matInput type="number" formControlName="totalReward" />
          <mat-error
            *ngIf="createCampaignForm.get('totalReward')?.hasError('required')"
            class="m-0 p-0"
          >
            Total reward is required.
          </mat-error>
          <mat-error
            *ngIf="
              createCampaignForm
                .get('totalReward')
                ?.hasError('notEnoughBalance')
            "
            class="m-0 p-0"
          >
            You dont not have enough balance.
          </mat-error>
          <mat-error
            *ngIf="createCampaignForm.get('totalReward')?.hasError('min')"
            class="m-0 p-0"
          >
            Minimum reward must be at least 10.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Number of participants</mat-label>
          <input matInput type="number" formControlName="totalParticipants" />
          <mat-error
            class="m-0 p-0"
            *ngIf="
              createCampaignForm.get('totalParticipants')?.hasError('required')
            "
          >
            Required.
          </mat-error>
          <mat-error
            class="m-0 p-0"
            *ngIf="createCampaignForm.get('totalParticipants')?.hasError('min')"
          >
            Must be at least 1.
          </mat-error>
          <mat-error
            class="m-0 p-0"
            *ngIf="createCampaignForm.get('totalParticipants')?.hasError('max')"
          >
            Maximum 9 allowed.
          </mat-error>
        </mat-form-field>
        <div class="mb-3">
          <mat-radio-group formControlName="distributionType">
            <mat-label>Reward Distribution</mat-label>
            <mat-radio-button value="Auto-calculated"
              >Auto-calculated</mat-radio-button
            >
            <mat-radio-button value="Custom">Custom</mat-radio-button>
          </mat-radio-group>
        </div>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Expiry Date</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="expiryDate"
            [min]="minDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error
            class="m-0 p-0"
            *ngIf="createCampaignForm.get('expiryDate')?.hasError('required')"
          >
            Required.
          </mat-error>
          <mat-error
            class="m-0 p-0"
            *ngIf="
              createCampaignForm
                .get('expiryDate')
                ?.hasError('invalidExpiryDate')
            "
          >
            Must be a future date.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Reward Type</mat-label>
          <mat-select formControlName="rewardTypeId">
            <mat-option
              *ngFor="let rewardType of rewardTypes"
              [value]="rewardType.id"
            >
              {{ rewardType.name }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="createCampaignForm.get('rewardTypeId')?.hasError('required')"
          >
            Required.
          </mat-error>
        </mat-form-field>
        <div class="text-end mt-2 mb-2">
          <button mat-raised-button color="primary" (click)="next()">
            Next
          </button>
        </div>
      </form>
    </mat-tab>
    <mat-tab label="Participants Details" [disabled]="!step2Enabled">
      <h5 class="m-4">Who can Play</h5>
      <div *ngFor="let participant of participants">
        <app-participant-form [form]="participant"> </app-participant-form>
      </div>
      <mat-error
        *ngIf="participantControl?.errors?.['duplicateEmails'] && participantControl.value"
        class="error ms-4"
      >
        Duplicate Emails.
      </mat-error>
      <mat-error
        *ngIf="participantControl?.errors?.['rewardSumMismatch'] && participantControl.value"
        class="error ms-4"
      >
        Reward Sum Mismatch.
      </mat-error>
      <div class="text-end mt-2 mb-2">
        <button mat-raised-button color="primary" (click)="nextPage()">
          Next
        </button>
      </div>
    </mat-tab>
    <mat-tab label="Preview Campaign" [disabled]="!step3Enabled">
      <div class="campaign-preview m-4">
        <h3 class="section-title">
          <mat-icon class="section-icon">preview</mat-icon> Campaign Preview
        </h3>
        <div class="preview-details">
          <p>
            <strong>Title:</strong> {{ createCampaignForm.get("title")?.value }}
          </p>
          <p>
            <strong>Total Reward:</strong>
            {{ createCampaignForm.get("totalReward")?.value }}
          </p>
          <p>
            <strong>Total Participants:</strong>
            {{ createCampaignForm.get("totalParticipants")?.value }}
          </p>
          <p>
            <strong>Expiry Date:</strong>
            {{
              createCampaignForm.get("expiryDate")?.value | date : "dd/MM/yyyy"
            }}
          </p>
          <p>
            <strong>Distribution Type:</strong>
            {{ createCampaignForm.get("distributionType")?.value }}
          </p>
        </div>
        <h4 class="mt-4">Participants</h4>
        <div
          *ngFor="let participant of participants"
          class="participant-preview"
        >
          <div class="card-container mb-5 mt-4">
            <div class="d-flex align-items-center justify-content-between">
              <p>
                <strong>Email:</strong> {{ participant.get("email")?.value }}
              </p>
              <p
                [style.color]="
                  participant.get('isRegisteredUser')?.value ? 'green' : 'red'
                "
              >
                {{
                  participant.get("isRegisteredUser")?.value
                    ? "Registered Player"
                    : "Non-registered Player"
                }}
              </p>
            </div>
            <p>
              <strong>Reward Amount:</strong>
              {{ participant.get("rewardAmount")?.value }}
            </p>
          </div>
        </div>
        <div class="text-end mt-2 mb-2">
          <button mat-raised-button color="primary" (click)="createCampaign()">
            Create Campaign
          </button>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
