<h2 mat-dialog-title >Create Campaign</h2>
<mat-dialog-content >
  <form [formGroup]="createCampaignForm" (ngSubmit)="submit()">
    <mat-form-field appearance="outline" class="full-width mt-4">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
      <mat-error *ngIf="createCampaignForm.get('title')?.hasError('required')">
        Title is required.
      </mat-error>
      <mat-error *ngIf="createCampaignForm.get('title')?.hasError('maxlength')">
        Maximum length is 100 characters.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Total Reward</mat-label>
      <input matInput type="number" formControlName="totalReward" />
      <mat-error
        *ngIf="createCampaignForm.get('totalReward')?.hasError('required')"
      >
        Total reward is required.
      </mat-error>
      <mat-error *ngIf="createCampaignForm.get('totalReward')?.hasError('min')">
        Minimum reward must be at least 10.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Total Participants</mat-label>
      <input matInput type="number" formControlName="totalParticipants" />
      <mat-error
        *ngIf="
          createCampaignForm.get('totalParticipants')?.hasError('required')
        "
      >
        Required.
      </mat-error>
      <mat-error
        *ngIf="createCampaignForm.get('totalParticipants')?.hasError('min')"
      >
        Must be at least 1.
      </mat-error>
      <mat-error
        *ngIf="createCampaignForm.get('totalParticipants')?.hasError('max')"
      >
        Maximum 8 allowed.
      </mat-error>
    </mat-form-field>

    <mat-radio-group formControlName="distributionType" class="full-width">
      <mat-label>Distribution Type</mat-label>
      <mat-radio-button value="Auto-calculated"
        >Auto-calculated</mat-radio-button
      >
      <mat-radio-button value="Custom">Custom</mat-radio-button>
    </mat-radio-group>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Expiry Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="expiryDate" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error
        *ngIf="createCampaignForm.get('expiryDate')?.hasError('required')"
      >
        Required.
      </mat-error>
      <mat-error
        *ngIf="
          createCampaignForm.get('expiryDate')?.hasError('invalidExpiryDate')
        "
      >
        Must be a future date.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Reward Type</mat-label>
      <input matInput formControlName="rewardTypeId" />
      <mat-error
        *ngIf="createCampaignForm.get('rewardTypeId')?.hasError('required')"
      >
        Required.
      </mat-error>
    </mat-form-field>

    <!-- <div formArrayName="participants">
    <h3>Participants</h3>

    <div *ngFor="let participant of participants.controls; let i = index" [formGroupName]="i" class="participant-item">

      <mat-form-field appearance="outline" class="participant-input">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
        <mat-error *ngIf="participant.get('email')?.hasError('required')">
          Required.
        </mat-error>
        <mat-error *ngIf="participant.get('email')?.hasError('email')">
          Invalid email.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="participant-input">
        <mat-label>Reward Amount</mat-label>
        <input matInput type="number" formControlName="rewardAmount" />
        <mat-error *ngIf="participant.get('rewardAmount')?.hasError('required')">
          Required.
        </mat-error>
        <mat-error *ngIf="participant.get('rewardAmount')?.hasError('min')">
          Must be greater than zero.
        </mat-error>
      </mat-form-field>

      <button mat-icon-button color="warn" type="button" (click)="removeParticipant(i)">
        <mat-icon>remove_circle</mat-icon>
      </button>

    </div>

    <button mat-raised-button color="primary" type="button" (click)="addParticipant()">
      <mat-icon>add</mat-icon> Add Participant
    </button>

    <mat-error *ngIf="participants.hasError('duplicateEmails')">
      Duplicate participant emails are not allowed.
    </mat-error>

    <mat-error *ngIf="participants.hasError('participantsCountMismatch')">
      Number of participants must match Total Participants.
    </mat-error>

    <mat-error *ngIf="participants.hasError('rewardSumMismatch')">
      Total participant rewards must equal Total Reward.
    </mat-error>

  </div> -->
    <mat-dialog-actions>
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-raised-button color="primary">Submit</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
