<h2 mat-dialog-title>Create Campaign</h2>
<mat-dialog-content>
  <form [formGroup]="campaignForm">
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Total Reward Budget</mat-label>
      <input matInput formControlName="totalBudget" type="number" min="10">
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Number of Participants</mat-label>
      <input matInput formControlName="totalParticipants" type="number" min="1" max="9">
    </mat-form-field>
    <mat-radio-group formControlName="distributiontype" class="full-width">
      <mat-label>Distribution Type</mat-label>
      <mat-radio-button value="Auto-calculate">Auto-calculate</mat-radio-button>
      <mat-radio-button value="Custom">Custom</mat-radio-button>
    </mat-radio-group>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Expiry Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Reward Type</mat-label>
      <mat-select formControlName="rewardType">
        <mat-option value="neons" selected>Neons</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" >Submit</button>
</mat-dialog-actions>