<div class="m-5" *ngIf="campaignDetails">
  <div class="d-flex align-items-center justify-content-start ">
    <mat-icon style="font-size: 36px; width: 36px; height: 36px;cursor:pointer;color: rgba(0,102,167,1);" class="ms-3" (click)="goBack()">arrow_back</mat-icon
    >
    <span style="font-size: 30px; font-weight: 500;color: rgba(0,102,167,1);" class="ms-2">Campaign Details</span>
  </div>
  <div class="card-container">
    <mat-card class="campaign-card">
      <mat-card-header class="header">

        <div class="d-flex align-items-center justify-content-between w-100">
          <div class="d-flex align-items-center justify-content-start">
              <mat-icon style="font-size: 30px;width: 30px;height: 30px; color:rgba(0,102,167,1) ;">campaign</mat-icon>
            <mat-card-title class="title ms-2">{{
              campaignDetails.title
            }}</mat-card-title>
          </div>
          <div class="status-badge new p-2" *ngIf="!isExpired">Active</div>
          <div class="status-badge expired p-2" *ngIf="isExpired">Expired</div>
        </div>
      </mat-card-header>

      <mat-card-content class="p-4">
        <div class="details-section">
          <h3 class="section-title">
            <mat-icon class="section-icon">info</mat-icon> Details
          </h3>
          <div class="details-grid">
            <div class="detail-item">
              <span class="label"
                ><mat-icon class="detail-icon">event</mat-icon>Expires:</span
              >
              <span class="value">{{
                campaignDetails.expiryDate | date : "dd/MM/yyyy"
              }}</span>
            </div>
            <div class="detail-item">
              <span class="label"
                ><mat-icon class="me-2">card_giftcard</mat-icon>Budget:</span
              >
              <span class="value"
                >{{ campaignDetails.totalReward }}
                {{ campaignDetails.rewardTypeName }}</span
              >
            </div>
            <div class="detail-item">
              <span class="label"
                ><mat-icon class="detail-icon">group</mat-icon> Total
                Participants:</span
              >
              <span class="value">{{ campaignDetails.totalParticipants }}</span>
            </div>
            <div class="detail-item">
              <span class="label"
                ><mat-icon fontIcon="fa-coins" fontSet="fa" style="font-size: 15px;height: 15px;width: 15px;" class="me-2"></mat-icon> Type:</span
              >
              <span class="value">{{ campaignDetails.rewardTypeName }}</span>
            </div>
          </div>
        </div>

        <div class="participants-section mt-3">
          <h3 class="section-title">
            <mat-icon class="section-icon">people</mat-icon> Campaign Players
          </h3>
          <mat-tab-group class="w-50 m-4">
            <mat-tab label="Registered Players">
              <mat-list class="participants-list"  *ngFor="let participant of campaignDetails.participants">
                <mat-list-item *ngIf="participant.isRegistered"
                  class="participant-item "
                >
                  <div class="participant-details p-1" >
                    <div class="participant-info">
                      <span class="email"
                        ><mat-icon class="participant-icon">email</mat-icon>
                        {{ participant.email }}</span
                      >
                      <span class="reward"
                        >
                        Reward: {{ participant.rewardAmount }} {{campaignDetails.rewardTypeName}}</span
                      >
                    </div>
                    <mat-icon *ngIf="!participant.isClaimed" style="font-size: 30px;height: 30px;width: 30px;">radio_button_unchecked</mat-icon>
                    <mat-icon *ngIf="participant.isClaimed" style="color:green;font-size: 30px;height: 30px;width: 30px;">check_circle_outline</mat-icon>
                  </div>
                </mat-list-item>
              </mat-list>
            </mat-tab>
            <mat-tab label="Non-Registered Players">
              <mat-list class="participants-list" *ngFor="let participant of campaignDetails.participants">
                <mat-list-item *ngIf="!participant.isRegistered"
                  class="participant-item "
                >
                  <div class="participant-details p-1" >
                    <div class="participant-info">
                      <span class="email"
                        ><mat-icon class="participant-icon">email</mat-icon>
                        {{ participant.email }}</span
                      >
                      <span class="reward"
                        >
                        Reward: {{ participant.rewardAmount }} {{campaignDetails.rewardTypeName}}</span
                      >
                    </div>
                    <mat-icon *ngIf="!participant.isClaimed && !isExpired" style="font-size: 30px;height: 30px;width: 30px;">link</mat-icon>
                    <mat-icon *ngIf="participant.isClaimed" style="color:green;font-size: 30px;height: 30px;width: 30px;">check_circle_outline</mat-icon>
                  </div>
                </mat-list-item>
              </mat-list>
            </mat-tab>
          </mat-tab-group>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
