<div class="container">
  <div
    class="d-flex align-items-center justify-content-center vh-100 overflow-hidden"
  >
    <div
      class="row shadow"
      style="width: 50%; height: 50%; background-color: white"
    >
      <div class="col-md-12 d-flex align-items-center justify-content-center">
        <div class="w-100">
          <div
            class="d-flex overflow-hidden align-items-center justify-content-center w-auto mt-3"
          >
            <h2 style="color: rgba(148, 8, 8, 0.521)">Login</h2>
          </div>
          <div class="row align-items-center justify-content-center p-0">
            <h3 class="mt-3 w-75" style="color: rgba(148, 8, 8, 0.521)">
              Welcome,
            </h3>
            <form class="w-75" [formGroup]="loginForm" (ngSubmit)="onLogin()">
              <div class="mt-3 mb-3">
                <div class="input-group mb-3">
                  <input
                    formControlName="email"
                    class="form-control"
                    labelClass="w-full form-control custom-label-class"
                    inputClass="w-full cutom-input-class text-md"
                    type="text"
                    placeholder="Email"
                  />
                </div>
              </div>
              <div class="mb-4">
                <div class="input-group mb-3">
                  <input
                    formControlName="password"
                    class="form-control"
                    placeholder="Password"
                    labelClass="w-full form-control custom-label-class"
                    inputClass="w-full custom-input-class text-md"
                    type="password"
                  />
                </div>
              </div>
              <div *ngIf="errorMessage.length>0">
                <ul class="text-danger">
                  <li *ngFor="let i of errorMessage">
                      {{i}}
                  </li>
                </ul>
              </div>
              <div class="mt-4 mb-2">
                <button
                  type="submit"
                  class="btn w-100"
                  style="
                    border-radius: 5px;
                    background-color: rgba(148, 8, 8, 0.521);
                    color: white;
                  "
                >
                  Login
                </button>
              </div>
              <span>
                Don't have an Account?
                <a
                  style="
                    text-decoration: none;
                    color: rgba(148, 8, 8, 0.521);
                    cursor: pointer;
                  "
                  class="me-2 text-end"
                  href="/auth/register"
                  >Register</a
                ></span
              >
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <style>
    html,
    body {
      height: 100%;
      overflow: hidden;
    }
  </style>
</div>
